<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="language">
    <select id="languageList" resultType="com.acktest.demo.dto.LanguageDTO">
        select * from language
    </select>
    <select id="getLanguage" resultType="com.acktest.demo.dto.LanguageDTO">
        select * from language where language_id=#{language_id}
    </select>
    <insert id="addLanguage" parameterType="com.acktest.demo.dto.LanguageDTO">
        insert into language values (#{language_id}, #{name})
    </insert>
    <update id="updateLanguage" parameterType="com.acktest.demo.dto.LanguageDTO">
        update language set name=#{name} where language_id=#{language_id}
    </update>
    <delete id="deleteLanguage" parameterType="com.acktest.demo.dto.LanguageDTO">
        delete from language where language_id=#{language_id}
    </delete>
</mapper>